.addTask {
    color: var(--gray-200);
    display: flex;
    gap: 8px;
    width: 736px;
    margin-top: calc(0px - 27px);
    margin-bottom: 64px;
}

textarea {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    resize: none;
    height: 54px;
    padding: 16px;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
}

textarea:focus{
    outline: 1px solid var(--purple-dark);
    color: var(--gray-100);
}

.addTask button{
    display: flex;
    height: 54px;
    padding: 16px;
    background: var(--blue-dark);
    border-radius: 8px;
    gap: 8px;
    border: 0;
    color: var(--gray-100);
    align-items: center;
    transition: 0.1s;
}


button p{
    line-height: 1.4;
}

button img {
    height: 16px;
}

button:hover {
    background: var(--blue);
}