.container{
    width: 736px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.info{
    width: 736px;
    display: flex;
    justify-content: space-between;
}

.createdTitle{
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.createdTitle strong{
    color: var(--blue)
} 

.completedTitle {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.completedTitle strong{
    color: var(--purple)
}

.info span {
    color: var(--gray-200);
    background: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
} 

.empty{
    margin-top: 24px;
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 140%;
    padding: 64px 24px;
}

.empty strong{
    color: var(--gray-300);    
}

.empty p{
    color: var(--gray-300);
}

.empty img {
    height: 56px;
    margin-bottom: 16px;
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    font-size: 14px;
}

.taskList li{
    background: var(--gray-500);
    padding: 16px;
    border-radius: 8px;
    color: var(--gray-100);
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.taskList .uncompleted > span{
    background: transparent;
    color: var(--blue);
    border: 0;
    border-radius: 999px;
    margin: 3.27px;
    height: 17.45px; 
}

.uncompleted > span:hover{
    background: rgba(78, 168, 222, 0.2);  
}

.completed {
    color: var(--gray-300);
    text-decoration: line-through;
}

.completed > span {
    background: transparent;
    color: var(--purple-dark);
    border: 0;
    padding: 3.27px;
    transition: 0.2s;
}

.completed > span:hover {
    background: transparent;
    color: var(--purple);
    border: 0;
}

.taskList button {
    background: transparent;
    border: 0;
    border-radius: 4px;
    color: var(--gray-300);
    cursor: pointer;
    padding: 5px 5.52px 5px 6px;
    line-height: 0;
    height: 24px;
    transition: 0.2s;

}

.taskList button:hover{
    color: var(--red);
    background: var(--gray-400);
}